.transactionDialog{
    padding: 0;
    max-width: fit-content;
}

.transactionoutercomp{
    position: relative;
    padding: 0px 20px;
    /* min-width: calc(60%); */
    width: -webkit-fill-available;
    /* max-width: calc(60%); */
    
    max-height: calc(100vh - 100px);
    overflow: auto;
}