



.Input {
  padding-right: 30px;
}

.visibilityIcon{
    color: rgb(124 124 124);
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius:50%;
    padding:5px;
}


.visibilityIcon:hover{
    background-color: #e6e6e6;
    color: rgb(33 40 44);
}

.wrong{
color:"red"
}

.right{
color: green;
}

.nothing{
color: grey;
}


