.minmaxtextfield{
 width: 6rem !important;
}

.filter-outer-div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-label-div{
    min-width: 10rem;
    color: #515151b1 !important;
    /* font-size: 15px; */
    display: flex;
    align-items: center;
}



  .secondarybtn{
     
     line-height: 1;
     font-weight: 500;
     /* height: 25px; */
     background-color: #6c9eff;
     color: white;
     cursor: pointer;
     font-weight: 500;
     
     display: flex;
     gap: 10px;
     transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
     /* border-bottom: 1px solid rgb(233, 233, 231); */
     align-items: center;
     justify-content: center;
     border-radius: 4px;
     transition: background 20ms ease-in 0s;
     padding:9px 12px;
     width:fit-content;
     height: 16px;
     
  }

  .secondarybtn:hover {
    background-color: #558af6;
    transition-duration: 0.1s;
    /* color: black; */
  }
  .secondarybtn:focus {
    box-shadow: 0 0 0 2px rgb(151, 190, 238);
   
  }

  .secondarybtn:active {
    background-color: #3577fc;
   
  }
  .secondarybtn:disabled {
    background-color: rgba(82, 137, 248, 0.611);
    cursor: default;
    
  }
  .secondarybtn:before {
    display: none;
  }
  
  .secondarybtn:-webkit-details-marker {
    display: none;
  }

  .filterbottomdiv{
    position: sticky;
    padding: 10px 0px;
    bottom: 0;
    background: white;
    display: flex;
    gap: 5px;
  }

  





 

  


