.navbar {
    position: fixed;
    z-index: 2;
    width: -webkit-fill-available;
    display: flex;
    justify-content:end;
    align-items: center;
    background-color: white;
    color: black;
    padding: 5px 20px;
    border-bottom: 1px solid rgb(233, 233, 231);
    gap: 20px;
  }
  
  .menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #5f5e5b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px 6px 10px;
    border-radius: 50%;
  }

  .menu-button:hover{
    background-color: #0000000c;
  }

  .menu-button:focus{
    background-color: #00000013;
  }



  
  .brand {
    font-size: 24px;
    margin: 0;
    cursor: pointer;
  }

  .brand.close {
    visibility: hidden;
  }

  .loginpopclass{
    padding: 0 !important;
    margin: 5px 20px;
  }

  .loginpopbtnclass{
   
    cursor: pointer;
    border-radius: 50%;

  }

  /* .loginpopbtnclass:focus{
    box-shadow: 0 0 0 2px rgb(151, 238, 155);
  } */

  .navbarbox{
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid rgba(175, 175, 175, 0.43);
    padding: 2px 12px;
    border-radius: 4px;
  }

  .navbarlogo{
    border-radius: 50%;
  }

  .navbarlogo:focus{
    border: solid
  }