.UPIdiv{
    padding: 0px 10px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    border-radius: 4px;
    
}

.phonepediv{
    padding: 5px 15px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    border-radius: 4px;
   
}

.Otherdiv{
    padding: 7.5px 17.5px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    border-radius: 4px;
   
}


.cashdiv{
    padding: 5px 15px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    border-radius: 4px;
   
}

.chequediv{
    padding: 0px 10px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    border-radius: 4px;
   
}

.paymenttextfield{
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    padding: 0px 20px;
    height: 40px;
    font-size: 15px;
    line-height: 1;
    color: black;
    background: rgba(242, 241, 238, 0.6);
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
 
}

.paymenttextfield:focus{
    box-shadow: 0 0 0 2px rgb(151, 190, 238);
 
}

.actnbtn{
    
}

.addpaymentdialogcontentclass{
    width: 400px !important;
    /* pointer-events: none !important; */
}

.customertriggerclass{
    width: 209px;
}